:root {
  --boxes-bg: #242831;
  --important-letters-color: #5c6167;
  --body-bg: #1d212a;
  --letter-color: #f2f2f8;
  --orange-dark-theme: #fa874f;
  --rf-party-list-marker-color: #15171e;
  --big-slogan-diferent-word: #732ad9;
  --lf-create-account-button-bg: #373c42;
  --cf-bg-url: url(src/center-frame-orange.png);
  --cf-marketing: #db6b32;
  --cf-box-bg-color: rgb(229, 114, 55);
  --platform-selector-active: rgb(52, 56, 65);
  --result-list-button-bg: rgb(74, 77, 85);
  --change-theme-bg: rgb(251, 251, 255);
  --result-list-button-color: white;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  font-size: 1vw;
  padding: 6%;
}
body {
  font-family: sans-serif;
  margin: 0;
  background-color: var(--body-bg);
  color: var(--letter-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 6%;
}
#navigation,
#auth {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 33%;
}
#navigation li {
  float: left;
  padding-right: 8%;
}
#navigation li a {
  color: var(--important-letters-color);
  font-size: 1.1vw;
}
#navigation li.active a {
  color: var(--orange-dark-theme);
  border: solid var(--orange-dark-theme) 1px;
  padding: 1vw;
  border-radius: 50%;
}
#logo {
  position: relative;
  text-align: center;
  font-size: 1.4vw;
  margin: 0;
  width: 33.3%;
  margin-left: auto;
  margin-right: auto;
}
#circle {
  position: absolute;
  top: 1.7vw;
  left: 9.8vw;

  height: 1.5em;
  width: 1.5em;

  border: solid rgba(46, 43, 43, 0.5) 1px;
  border-radius: 50%;

  background-color: #777;

  opacity: 0.9;
}

#auth li {
  float: right;
  margin-left: 10%;
}
#auth li a {
  color: var(--letter-color);
  font-size: 1.1em;
  font-weight: 600;
}
#auth li.button a {
  background-color: #15171e;
  border: solid #383d4b 1px;
  padding: 1.5vw 2.2vw;
  border-radius: 60px;
}

#change-theme {
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  height: 5vw;
  width: 5vw;
  background-color: var(--change-theme-bg);
  border: solid darkgray 1px;
  border-radius: 1vw;
}

#main-board {
  display: flex;
  align-items: stretch;

  background-color: var(--boxes-bg);
  height: 50vw;
  margin-bottom: 10%;
  border-radius: 20px;
}
#left-frame,
#center-frame,
#right-frame {
  width: 33.3%;
}
#left-frame {
  padding: 5%;
}
#slogan-big {
  font-size: 4.4vw;
}
#diferent-color {
  color: var(--big-slogan-diferent-word);
}

#slogan-small {
  color: var(--important-letters-color);
  font-size: 1.15vw;
  margin-bottom: 5vw;
}
#bolded-text {
  color: var(--letter-color);
  padding-bottom: 0.5vw;
  border-bottom: solid var(--orange-dark-theme) 1px;
}
#left-frame a {
  font-size: 1.1em;
  color: var(--letter-color);
}
#left-frame a.button {
  padding: 1.5vw 2.2vw;
  border-radius: 60px;
  margin-right: 10%;
  background-color: var(--lf-create-account-button-bg);
}

#center-frame {
  background-color: var(--orange-dark-theme);
  background-image: var(--cf-bg-url);
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;

  position: relative;
  text-align: center;
  padding-top: 2%;
}
#center-frame h2 {
  font-size: 1.6em;
  margin-bottom: 3%;
}
#center-frame p {
  margin-top: 0;
  color: var(--cf-marketing);
  margin-bottom: 15%;
  font-weight: 6228800;
}

#stream-date {
  position: relative;
  display: inline;
  background-color: #ffffff;
  color: var(--orange-dark-theme);
  padding: 1.2vw 2.8vw;
  margin-left: 8%;
  border-radius: 50px;
  font-size: 1.5em;
  font-weight: bold;
}
#cf-icon-container {
  background-color: #fff;
  opacity: 0.5;
  border-radius: 50%;
  height: 2.7em;
  width: 2.7em;
  position: absolute;
  top: -30%;
  left: -30%;
  display: flex;
  justify-content: center;
}
#cf-icon {
  height: 3vw;
  width: 1.5vw;
  margin-left: 10%;
  align-self: center;
}
.cf-box {
  position: absolute;
  background-color: var(--cf-box-bg-color);
  height: 5vw;
  width: 5vw;
  border-radius: 1vw;
}
#cf-box1 {
  top: 25vw;
  left: 2vw;
  background-image: url(src/cf-box1-image.png);
  background-position: center bottom;
  background-size: 80%;
  background-repeat: no-repeat;
}
#cf-box2 {
  top: 20vw;
  left: 20vw;
  background-image: url(src/cf-box2-image.png);

  background-position: center bottom;
  background-size: 80%;
  background-repeat: no-repeat;
}
#cf-box3-user {
  background-image: url(src/user.png);
  background-size: cover;
  visibility: hidden;
  top: 15vw;
  left: 3vw;
}
#cf-box1-icon {
  border-radius: 50%;
  display: block;
  height: 2vw;
  width: 2vw;
  background-color: rgba(40, 36, 32, 0.9);
  position: absolute;
  top: -0.5vw;
  left: -0.5vw;
}
#cf-box1-icon img {
  height: 1.2vw;
  width: 1.2vw;
  margin: auto;

  margin-top: 0.3vw;
  filter: invert(100%);
}

#right-frame {
  overflow: auto;
  padding: 4%;
  padding-top: 2%;
}
#right-frame h2 {
  text-align: left;
  font-size: 1.2em;
  margin: 2vw 0;
}
.rf-index {
  color: var(--important-letters-color);
  font-size: 1.5em;
  letter-spacing: -2px;
  padding: 3%;
}
.rf-box {
  font-size: 1.1vw;
  background-color: var(--body-bg);
}
.rf-box:first-of-type {
  padding: 0.5vw;
  border-radius: 5vw;
}
#platform-selector {
  list-style-type: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  margin: 0;
}
.rf-box:first-of-type li {
  padding: 1.1vw;
}
#platform-selector li.active {
  background-color: var(--platform-selector-active);
  border-radius: 5vw;
  padding-right: 2.1vw;
  padding-left: 3.5vw;
  position: relative;
}
#platform-selector li.active::before {
  background-image: url(src/celebration.png);
  background-size: cover;
  display: inline-block;
  height: 1.5vw;
  width: 1.5vw;
  content: " ";
  position: absolute;
  left: 1.1vw;
}
#game-selector {
  display: flex;
  border-radius: 1.2vw 1.2vw 0 0;
  padding: 0.4vw 1.1vw;
  margin-bottom: 0.15vw;
  justify-content: space-between;
  align-items: center;
}
#game-selector h3 {
  margin-left: 0.8vw;
}
#icon-selector {
  margin-right: 0.8vw;
}
#icon-selector img {
  height: 1.5vw;
  width: 1.5vw;
}
#game-selector-result {
  padding: 1.1vw;
  border-radius: 0 0 1.2vw 1.2vw;
  position: relative;
}
#game-selector-result:before {
  position: absolute;
  top: 0;
  left: 0;

  border-radius: 10px;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  opacity: 0.5;
  content: "";
}
#game-selector-result ol {
  z-index: -1;
  padding: 0;
  list-style-type: none;
  counter-reset: list-marker;
}
#game-selector-result ol li {
  padding: 0.8vw;
  display: flex;
  align-items: baseline;
}
#game-selector-result ol li::before {
  content: counter(list-marker);
  counter-increment: list-marker;
  font-size: 0.8em;
  padding: 0.4vw 0.7vw;
  border-radius: 50%;
  margin-right: 0.8vw;
  background-color: var(--rf-party-list-marker-color);
}
#game-selector-result ol li p {
  margin: 0;
  width: 6.3vw;
}
.users-avatars {
  width: 7.4vw;
  position: relative;
}
.users-avatars .user1,
.users-avatars .user2 {
  border-radius: 50%;
  font-size: 0.8em;
  height: 1.6vw;
  width: 1.6vw;
  background-size: cover;
}
.users-avatars .user1 {
  position: absolute;
  z-index: 1;
  top: -1.1vw;
  background-color: var(--cf-box-bg-color);
}
.users-avatars .user2 {
  background-color: rgb(242, 214, 62);
  position: absolute;
  top: -1.1vw;
  left: 1vw;
}
#game-selector-result ol li button {
  border: none;
  padding: 0.3vw 0.5vw;
  border-radius: 0.3vw;
  background-color: var(--result-list-button-bg);
  color: var(--result-list-button-color);
  cursor: pointer;
  z-index: 1;
}
#search-now {
  display: block;
  background-color: white;
  color: var(--body-bg);
  text-align: center;
  padding: 1.5vw;
  border-radius: 0.6vw;
  position: relative;
  z-index: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  gap: 1vw;
}
.grid-card {
  padding: 10%;
  background-color: var(--boxes-bg);
  border-radius: 10px;
  height: 11vw;
  position: relative;
}
.card-index {
  color: var(--important-letters-color);
}
#slash1,
#slash2,
#slash3,
#slash4,
#slash5,
#slash6 {
  position: absolute;
  left: 7%;
  top: 16%;
}
#slash1 {
  color: rgb(95, 40, 18);
}
#slash2 {
  color: rgb(59, 83, 145);
}
#slash3 {
  color: rgb(91, 15, 45);
}
#slash4 {
  color: rgb(98, 90, 27);
}
#slash5 {
  color: rgb(67, 12, 155);
}
#slash6 {
  color: rgb(27, 73, 46);
}

#card7 {
  background-image: url(./src/categories.png);
  background-size: cover;
}
#card7 * {
  position: relative;
  z-index: 1;
}
#card7:before {
  position: absolute;
  top: 0;
  left: 0;

  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: #7e1edf;
  opacity: 0.5;
  content: "";
}

.account-panel {
  margin: auto;
  background-color: var(--boxes-bg);
  width: 30vw;
  height: 30vw;
  border-radius: 1vw;
  padding: 4%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.account-panel h2 {
  font-size: 1.6vw;
  margin: 0;
  margin-bottom: 2vw;
}
.account-panel form {
  font-size: 1.4em;
  display: inherit;
  flex-flow: inherit;
}
.account-panel form label {
  margin: 0.5vw;
  margin-left: 0;
}
.account-panel form input {
  padding: 1vw;
  border-radius: 5vw;
  border: none;
}
#login-submit {
  margin-top: 1vw;
}
.account-panel a {
  margin: auto;
  margin-top: 1vw;
  font-size: 1.4em;
  color: var(--letter-color);
}
